@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@1&family=Lilita+One&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background-color:#212153;
  width: 100%;
  height: 100%;
  color: rgba(255, 119, 0, 0.973);
  font-weight: bolder;
}
select {
  padding: 0.4rem;
  border: none;
  border-radius: 0.2rem;
  margin: 0 0.2rem 0 0.2rem;
}
input {
  margin: 1rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: rgb(214, 255, 255);
}
div {
  display: inline;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.title {
  color: #212153;
  text-align: center;
  background-color: rgba(255, 119, 0, 0.973);
  margin-bottom: 0.2rem;
  font-family: 'Lilita One', cursive;
  text-shadow: 0 0 .3em #aaffff;
  flex-basis: 100%;
}
#addCar{
  width: 100%;
  height: 20%;
  background-color: #212153;
  padding: 1rem 0 1rem 0;
  background-color: #212153;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(167, 167, 167);
}
#addCarPhone{
  width: 100%;
  height: 20%;
  background-color: #212153;
  padding: 1rem 0 1rem 0;
  background-color: #212153;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(167, 167, 167);
}
#addCar h1, #addCarPhone h1 {
  padding: 0.3rem;
}
#addCar .btn, #addCarPhone .btn{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
#addCar .btn button, #addCarPhone .btn button {
  text-align: center;
  padding: 0.3rem;
  background-color: #005290;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: #005290 solid 1px;
  font-weight: bolder;
  color: rgb(255, 119, 0);
  transition: all 0.3s ease-in-out;
}
#addCar button:hover, #addCarPhone button:hover{
  background-color: #143044;
}
.addClose{
  text-align: center;
  padding: 0.3rem;
  background-color: #005290;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: #005290 solid 1px;
  font-weight: bolder;
  color: rgb(255, 119, 0);
  transition: all 0.3s ease-in-out;
  margin-right: 2rem;
  display: none;
}
#addCarNone {
  display: none;
}
.addUser {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000050;
  color: #fff;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
.addUser div{
    width: 21rem;
    height: 18rem;
    background-color: rgba(255, 119, 0, 0.973);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    color: #212153;
}
.addUser div form{
    text-align: center;
    margin-top: 1.5rem;
}
.addUser div form button{
    margin: 1.5rem;
    padding: .5rem;
    background-color: #212153;
    color: rgba(0, 255, 255, 0.877);
    border: none;
    border-radius: .2rem;
    pointer-events: auto;
    font-weight: bold;
    
}
.addUser div form button:hover{
    cursor: pointer;
    background-color: #005290;
    color: #fff;
}
.addUser div form a{
  margin-left: 18rem;
  color: #212153;
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
  border: black solid 1px;
  border-radius: 50%;
}
.addUser div form a:hover {
    background-color: #212153;
    color: aqua;
    border-radius: 50%;
    border: black solid .1rem;
  }
.addUser div h1{
    flex-basis: 100%;
    width: 100%;
}
ul {
  list-style: none;
  font-size: 1.2rem;
  width: 100%;
  color: rgb(167, 167, 167);
}
ul li {
  position: relative;
  padding: 0.7rem .1rem 0.7rem .1rem;
  background-color: #212153;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
ul li:hover {
  background-color: rgb(71, 56, 56);
  color: #ffffffcc;
}
.list {
  cursor: default;
  display: flex;
  flex-wrap: wrap;
}
.list p i{
    margin:0 .6rem 0 .4rem;
}
ul li div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
ul li:nth-child(odd) {
  background-color: #005290;
}
ul li:nth-child(odd):hover {
  background-color: rgb(71, 56, 56);
}
ul li a {
  background-color: #c1e952;
  margin: 0 0.3rem .1rem 0;
  padding: 0.2rem;
}
ul li a:hover {
  background-color: #b1ec0c;
}
.details {
  border: none;
  width: 100%;
  height: 20%;
  background-color: #212153;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.details textarea {
  padding: 0.2rem;
  font-weight: bold;
  cursor: default;
  background-color: #ffee;
}
.details div {
  margin: 0.4rem 1rem 0.2rem 1rem;
  display: flex;
  align-items: center;
}
.details a{
    background-color: #00ffff;
    margin: 1rem;
    color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details a:hover{
    background-color: #143044;
}
.details label{
  margin-right: .3rem;
  margin-left: .3rem;
}
.details .bigText{
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}
.detailBtns{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  padding-top: 1rem;
}
.detailBtns a{
  text-align: center;
  color: rgba(255, 119, 0, 0.973);
  padding: 0.3rem;
  background-color: #005290;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: #005290 solid 1px;
  transition: all 0.3s ease-in-out;
}
.break {
  flex-basis: 100%;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
.card {
  width: 20rem;
  height: 9rem;
  border: rgba(49, 134, 204, 0.877) solid 0.1rem;
  border-radius: 0.4rem;
  position: relative;
  background-color: #212153;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card p {
  margin: 1rem 1rem 1.3rem 1rem;
  color: aquamarine;
}
.card hr {
  width: 90%;
  border-color: #00aa2a;
}
.confirm{
  margin-bottom: .3rem;
}
.cardParts{
  width: 24rem;
  height: 14rem;
  border: rgba(49, 134, 204, 0.877) solid 0.1rem;
  border-radius: 0.4rem;
  position: relative;
  background-color: #212153;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cardParts div{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
.cardParts button{
    background-color: #00ffff;
    color: #272727;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2rem;
    padding: .4rem;
    margin-bottom: .5rem;
}
.cardParts button:hover{
  background-color: rgb(110, 75, 75);
  color: #00ffff;
}
.close {
  position: absolute;
  right: 0.2rem;
  top: 0.3rem;
  color: #fff;
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.close:hover {
  background-color: rgba(255, 0, 0, 0.884);
  border-radius: 50%;
}
.btnNot {
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
  bottom: 0.1rem;
  margin: 0 1rem 0 1rem;
  border: solid 1px #ff0000;
  color: #ff0000;
  font-weight: bolder;
}
.btnNot:hover {
  background-color: #ff0000;
  color: #fff;
  font-weight: normal;
}
.btnYes {
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
  bottom: 0.1rem;
  margin: 0 1rem 0 1rem;
  border: solid 1px #00aa2a;
  color: #00aa2a;
}
.btnYes:hover {
  background-color: #00aa2a;
  color: #fff;
  font-weight: normal;
  
}
.dates{
    background-color: rgba(255, 119, 0, 0.973);
    padding: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .dates a{
    background-color: #212153;
    color: rgb(167, 167, 167);
    text-shadow: 0 0r .1rem #0000009c;
    font-weight: bolder;
    padding: .2rem .2rem;
    border-radius: 0rem .2rem 0 0rem;
    margin: 0;
    border: .1rem solid rgb(92, 92, 92);
    height: 2rem;
    transition: all 0.3s ease-in-out;
}
.dates a:hover, .dates a.selected{
  background-color: #323279;
  cursor: pointer;
}
.dates label{
  color: black;
  margin-right: .2rem;
}
#btnMenu{
  color: #eef;
}
#btnMenu:hover{
  cursor: pointer;
}
.menuLeft{
  margin-right: .3rem;
}
.togle{
  width: 14rem;
  height: auto;
  background-color: #005290;
  position: fixed;
  right: .2rem;
  top: 5rem;
  display: none;
  flex-wrap: wrap;
  padding: .2rem;
  z-index: 9999;
  border-radius: .3rem;
}
.togle a{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: .2rem;
  border-radius: .3rem;
}
.logout{
  display: none;
}
@media(min-width: 600px){
  .btnAdd{
    display: none;
  }
}
@media(max-width: 600px){
  #addCar, .menuDates, .pNone, .labelNone{
    display: none;
  }
  #addCarPhone .labelShow{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin: .5rem;
  }
  .addClose{
    display: inline;
  }
  .details div{
    flex-basis: 100%;
  }
  .textDetails{
    width: 80%;
  }
  .details .bigText{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .details .bigText textarea{
      margin: .3rem .3rem 0 0;
  }
  .detailsTop{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .list i{
    /* font-size: 1rem; */
    display: none;
  }
  ul li a {
    margin: 0 0 .3rem 0;
  }
  ul li p{
    margin: 0 .5rem 0 .5rem;
  }
  ul li{
    height: 9rem;
    padding: 0;
  }
  .listBreak{
    display: block;
    width: 8rem;
  }
  .btnList {
    display: flex;
  }
}


/* style tela de Login: */
.container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  color: rgba(255, 119, 0, 0.973);
}
.container h1{
  margin: 2rem;
}
.login{
  text-align: center;
  border: .1rem solid rgba(0, 255, 255, 0.377);
  padding: 2rem;
  background-color: rgba(0, 255, 255, 0.096);
  border-radius: .8rem;
  font-weight: bolder;
}
.login button{
  text-align: center;
  text-justify: center;
  color: rgba(255, 119, 0, 0.973);
  padding: 0.3rem;
  background-color: #005290;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: #005290 solid 1px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  margin: 0;
}
.login button:hover{
  background-color: #212153;
}